/* span{
position: absolute;
width: 1139px;
height: 0px;
left: 51px;
top: 22px;

border: 2px solid #1D0FC5;
} */

hr{
    /* Line 1 */

position: absolute;
width: 1139px;
height: 0px;
left: 51px;
top: 22px;

border: 2px solid #85a317;

}

